@import url('https://fonts.googleapis.com/css?family=Roboto:500,900');

$main-font: 'Roboto';
$blue-cold: #1A237E;
$orange-hot: #FF6F00;
$grey-cloudy: #616161;
$grey-cloudy-text: #F5F5F5;
$green-normal: #69F0AE;
$white-500: #FAFAFA;
$font-size-large: 10vw;

h1, h3 {
  margin: 0;
}

h1 {
  font-size: $font-size-large;
  padding: 0 25px;
}

body,html,#root, .weather-wrap {
  font-family: $main-font;
  margin: 0;
  height: 100%;
}

.city {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  transition: 500ms all ease-in-out;

 

  span {
    font-size: 2vw;
    &:after {
      content: "°C";
    }
  }

  h3 {
    font-size: 2vw;
    padding: 50px 0;
  }

   @media all and(max-width: 700px) {
    h1 {
      font-size: 13vw;
      padding: 0 5px;
    }

    span {
      font-size: 6vw;
    }

    h3 {
      font-size: 6vw;
    }
  }
}

.cold {
  background: $blue-cold;
  color: $white-500;
}

.hot {
  background: $orange-hot;
  color: $white-500;
}

.cloudy {
  background: $grey-cloudy;
  color: $grey-cloudy-text;
}

.normal {
  background: $green-normal;
  
}
form {
  position: fixed;
  padding: 15px;

  input,button {
    padding: 10px 15px;
    border: none;

    &:focus {
      outline: none;
      font-family: 'Roboto';
    }
  }

  button {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }
}